<div class="container">
  <div class="header" [class.search_active]="searchActive">
    <app-searchbar (searchInputEvent)="filterArticles($event)"></app-searchbar>
    @if (searchActive) {
      <p class="results">Results: {{filteredArticles.length}}</p>
      <div class="divider"></div>
    }
  </div>
  <div class="news-tiles">
    @for (article of filteredArticles; track article) {
      <app-news-tile
        [article]=article
        [keywords]="searchKeywords"
      ></app-news-tile>
    }
  </div>
</div>
