html, body { height: 100%; }
body { margin: 0; font-family: 'Montserrat'; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.highlight {
  background-color: yellow;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
